
<% if post.favorited_by?(current_user) %>
 <table>
   <tr>
     <td>お気に入り済み！</td>
     <td><%= link_to "[お気に入りを解除する]", post_favorites_path(post.id), method: :delete, remote: true %></td>
   </tr>
 </table>
<% else %>
<table>
  <tr>
    <td>お気に入りにしませんか？</td>
    <td><%= link_to "[お気に入り登録する]", post_favorites_path(post.id), method: :post, remote: true %></td>
  </tr>
</table>
<% end %>