<div class="container">
 <div class="row">
  <div class="col-md-10 my-3">
   <% if @prefecture.present? %>
    <h2 class="mt-3"><%= @prefecture.prefecture_name %>のコース一覧</h2>
    <%= render 'index', obj: @courses %>
    <%= paginate @courses, theme: 'twitter-bootstrap-4' %>
   <% else %>
    <div class="text-center my-5">
     まだコースが登録されていません
    </div>
   <% end %>

   <div class="text-center mt-4">
    <p class="my-2">
     お探しのコースが見つからない場合は、お手数ですが<br>
     <%= link_to "こちら", new_course_path, data: {"turbolinks" => false} %>からコース登録をお願いします
    </p>
   </div>
  </div>
 </div>
</div>